{include "inc_header.htm"}

{if module_error == false}
<table width="100%" class="pc_table">
	<tr>
		<th colspan="2">{classname}</th>
	</tr>
	<tr>
		<td>Declaration</td>
		<td>{declaration}</td>
	</tr>
	<tr>
		<td align="center" class="pc_coldesc" colspan="2">Constants</td>
	</tr>
	{if consts.length == 0}
	<tr>
		<td colspan="2">-</td>
	</tr>
	{endif}
	{loop consts as const}
	<tr>
		<td><a href="{const:url}">{const:name}</a></td>
		<td>{const:type}</td>
	</tr>
	{endloop}
	<tr>
		<td align="center" class="pc_coldesc" colspan="2">Fields</td>
	</tr>
	{if fields.length == 0}
	<tr>
		<td colspan="2">-</td>
	</tr>
	{endif}
	{loop fields as field}
	<tr>
		<td><a href="{field:url}">{field:name}</a></td>
		<td>{field:type}</td>
	</tr>
	{endloop}
	<tr>
		<td align="center" class="pc_coldesc" colspan="2">Methods</td>
	</tr>
	{if methods.length == 0}
	<tr>
		<td colspan="2">-</td>
	</tr>
	{endif}
	{loop methods as method}
	<tr>
		<td><a href="{method:url}">{method:name}</a>:</td>
		<td>{method:type}</td>
	</tr>
	{endloop}
</table>

<div class="pc_padtop">
	<code>{source}</code>
</div>
{endif}

{include "inc_footer.htm"}