{include "inc_header.htm"}

{if action_result < 1}
{if module_error == false}
<form method="post" action="{target_url}">
<input type="hidden" name="aid" value="{action_type}" />
<div class="pc_border">
	<h1 class="pc_topic">Edit project</h1>
	<fieldset class="pc_form">
		<dl>
			<dt>Name:</dt>
			<dd>{form.get_textbox('name',def_name,40,255)}</dd>
		</dl>
		<dl>
			<dt>Start:</dt>
			<dd>{form.get_date_chooser('start_',def_start,false)}</dd>
		</dl>
		<dl>
			<dt>Dependencies:</dt>
			<dd>
				<div>{form.get_checkbox('projdeps[0]',1,'1','PHP builtins',true)}</div>
				{loop projects as p}
				<div>{form.get_checkbox('projdeps['~p:id~']',p:value,'1',p:name)}</div>
				{endloop}
				
				<div class="pc_desc">
				Adding a project as dependencies means that all types (classes, functions, ...) of it are
				available in your project.
				</div>
			</dd>
		</dl>
		<dl>
			<dt>Report arguments/returns strictly:</dt>
			<dd>
				{form.get_checkbox('report_argret_strictly',report_argret_strictly,'1','Report an error if <i>not all</i>
				possible types of arguments and return values are conforming to the specification.')}
				<div class="pc_desc">
				That is, if e.g. an argument has multiple possible types and one of them is not expected by
				the parameter, an error is reported. These are often false positives, because PHPCheck is
				not (yet) able to detect that, e.g., the code exits early for the unexpected type.
				</div>
			</dd>
		</dl>
		<dl>
			<dt>Requirements:</dt>
			<dd>
				{if req.length == 0}
				-
				{endif}
				{loop req as r}
				<div style="padding: 2px">
					{form.get_textbox('edit_name['~r:id~']',r:name,10,255)}
					{form.get_combobox('edit_type['~r:id~']',types,r:type)}
					{form.get_textbox('edit_version['~r:id~']',r:version,10,10)}
					<input type="button" name="del" value="Delete"
						onclick="document.location.href = '{r:del_url}';" />
				</div>
				{endloop}
				<div style="padding: 2px; padding-top: 10px">
					{form.get_textbox('add_name',add_name,10,255)}
					{form.get_combobox('add_type',types,add_type)}
					{form.get_textbox('add_version',add_version,10,10)}
					<input type="submit" name="add" value="Add" />
					(e.g., &quot;PHP&quot; >= &quot;5.3.0&quot; or &quot;PECL pdo&quot; >= &quot;0.2.0&quot;)
				</div>
			</dd>
		</dl>
	</fieldset>
</div>
<center>
	<input type="button" value="Back" onclick="document.location.href='{gurl.build_mod_url('projects')}'" />
	<input type="submit" name="submit" value="Save" />
</center>
</form>
{endif}
{endif}

{include "inc_footer.htm"}