{include "inc_header.htm"}

{if module_error == false}
<script type="text/javascript" src="{gjs.get_file('src/functions.js')}"></script>
<script type="text/javascript">
<!--
var err_ids = [
{loop typecbs as rows}{loop rows as cb}{if cb:value !== ''}  'types_' + {cb:value} + '_',{endif}
{endloop}{endloop}
];
	
function selectAll(checked)
{
	for(var i = 0; i < err_ids.length; i++)
		document.getElementById(err_ids[i]).checked = checked;
}
//-->
</script>

<div class="pc_padbottom">
	<form method="post" action="{search_target}">
	<div class="pc_border">
		<h1 class="pc_topic" onmouseover="this.style.cursor='pointer';"
				onmouseout="this.style.cursor='default';"
				onclick="toggleSearch('{cookie_name}','searchform');">Search</h1>
		<div id="searchform" style="display: {display_search};">
			<fieldset class="pc_form">
				<dl>
					<dt>Types:</dt>
					<dd>
					<table>
					{loop typecbs as rows}
						<tr>
							{loop rows as cb}
							<td>
							{if cb:name != ''}
							{form.get_checkbox(cb:name,cb:selected,cb:value,cb:text)}
							{endif}
							</td>
							{endloop}
						</tr>
					{endloop}
					</table>
					<div style="padding-top: 1em;">
					<input type="button" onclick="selectAll(true);" value="Select all" />
					<input type="button" onclick="selectAll(false);" value="Select none" />
					</div>
					</dd>
				</dl>
				<dl>
					<dt>File:</dt>
					<dd>{form.get_textbox('file',file,40)}</dd>
				</dl>
				<dl>
					<dt>Message:</dt>
					<dd>{form.get_textbox('msg',msg,40)}</dd>
				</dl>
			</fieldset>
			<div class="pc_main" style="margin-top: 1px; text-align: center">
				<input type="button" value="Reset" onclick="document.location.href = '{gurl.build_mod_url()}';" />
				<input type="submit" value="Search!" />
			</div>
		</div>
	</div>
	</form>
</div>

<table width="100%" class="pc_table">
	<tr>
		<th>Type</th>
		<th>Message</th>
		<th>Location</th>
	</tr>
	{if errors.length == 0}
	<tr>
		<td colspan="3" class="hlCol" align="center">No errors found</td>
	</tr>
	{else}
	{loop errors as err}
	<tr class="hlRow">
		<td class="hlCol" width="15%"><a href="{err:typeurl}">{err:type}</a></td>
		<td class="hlCol" width="60%">
		<a href="{err:fileurl}"><img src="images/goto.gif" alt="-&gt;" /></a> {err:message}
		<div style="float: right;">
			<a href="#" onclick="javascript:toggleCode('{get_code_url}','error','{err:id}');">
			<img id="error_img_{err:id}" src="images/crossclosed.gif" alt="+" />
			</a>
		</div>
		<div id="error_area_{err:id}" class="pc_code" style="display: none;"></div>
		</td>
		<td class="hlCol" width="25%">{err:file}, line {err:line}</td>
	</tr>
	{endloop}
	{endif}
</table>

<div class="pc_padtop">
	{include "inc_pagination.htm"}
</div>
{endif}

{include "inc_footer.htm"}