{include "inc_header.htm"}

{if module_error == false}
<h1>PHPCheck</h1>

<p>PHPCheck is a static analyzer for PHP to assist developers in finding errors in PHP applications
before shipping them. It searches through all files and collects information about the types, function
calls and variables. Finally it analyzes this information and tries to find potential errors in it.</p>

<p>It exists to overcome a problem of interpreted languages: There is no compile time. Therefore, you
will errors <em>only</em> until you run the application. Running it does always mean that exactly one code
path is taken. For example, if you have an if-else statement, it will always execute either the if
branch or the else branch, but never both. If the else branch is executed nearly never, the
probability that errors in it are not found is quite high.</p>

<p>Errors in this case mean for example:</p>
<ul>
	<li>Call of not-existing function</li>
	<li>Instantiation of not-existing class</li>
	<li>Wrong parameter count</li>
	<li>Wrong parameter types</li>
	<li>Method call of an non object</li>
	<li>...</li>
</ul>

<p>So, semantic errors, that PHP would complain about, if it executed the affected code path. To give
developers the chance to find these semantic errors in PHP applications ahead of time, I wrote this
tool. Note however, that there will be false positives and false negatives due to the lack of
information at compile time. For example, if the value of a variable is read from an external source
(GET, POST, ...). PHP makes it a bit more difficult for us by providing things like variable
variables, variable function calls, variable class instantiations and so on. And of course, PHP is a
dynamic typed language, so that we simply don't know the type in most cases.</p>

<p>In summary: Don't expect this tool to be perfect and always correct. It should give you <strong>hints</strong> to
things that <strong>might</strong> by wrong. Nothing more. So, <strong>you</strong> have to check the potential problems
pointed out by PHPCheck and verify whether there really is a problem. And, of course, if PHPCheck
does not find errors, it does <strong>not</strong> mean, that there are none :)</p>

<h2>How to use it:</h2>

<p>Before you start, choose the project "-PHP builtin-" and parse the PHP manual. Afterwards,
PHPCheck knows the builtin functions and classes, so that it can tell you when you're using them in
a wrong way.</p>

<p>To analyze an application, use the following steps:</p>
<ol>
	<li><a href="{gurl.build_mod_url('projects')}">Create a project</a> for your application.</li>
	<li>Use the <a href="{gurl.build_mod_url('typescan')}">type scanner</a> to collect
	<a href="{gurl.build_submod_url('types','classes')}">classes</a> with their constants, fields and methods,
	<a href="{gurl.build_submod_url('types','funcs')}">functions</a> and
	<a href="{gurl.build_submod_url('types','consts')}">global constants</a>.</li>
	<li>Use the <a href="{gurl.build_mod_url('stmtscan')}">statement scanner</a> to walk through the code, track
	<a href="{gurl.build_mod_url('vars')}">variable</a> assignments and collects
	<a href="{gurl.build_mod_url('calls')}">function calls</a>.</li>
	<li>Finally, use the <a href="{gurl.build_mod_url('analyze')}">analyzer</a> to search for potential errors within the collected data.</li>
</ol>

<p>That means, after step 2, classes, functions and constants will be available. After the step 3,
calls and variables. Although step 4 detects most of the potential errors, the previous two steps
raise errors as well.</p>

<h2>Important internals:</h2>

<p>The type of a variable relies heavily on information from PHPDoc tags and type hinting. The used
PHPDoc Tags are:</p>

<ul>
	<li><code>@var &lt;type&gt; ...</code></li>
	<li><code>@param &lt;type&gt; &lt;paramName&gt; ...</code></li>
	<li><code>@return &lt;type&gt; ...</code></li>
</ul>

<p>The supported types are:</p>
<ul>
	<li>Integer: <code>integer</code>, <code>int</code>, <code>long</code>, <code>short</code> or <code>byte</code></li>
	<li>Boolean: <code>bool</code> or <code>boolean</code></li>
	<li>Float: <code>float</code> or <code>double</code></li>
	<li>String: <code>string</code>, <code>str</code> or <code>char</code></li>
	<li>Array: <code>array</code></li>
	<li>Generic object: <code>object</code></li>
	<li>Specific object: <code>&lt;yourClassName&gt;</code></li>
	<li>Resource: <code>resource</code> or <code>res</code></li>
	<li>Various types: <code>mixed</code></li>
</ul>

<p>Multiple types can be specified by separating them with '|'.</p>

<p>The more specific you describe your variables, the better the analysis results will get. That means,
you should avoid mixed and multiple types (or better: don't write such code).</p>

<p>PHPCheck treats all files given as included at all locations, i.e., it does not follow includes but
simply assumes that everything is present everywhere. For example, you should not define a class
twice and include sometimes the first and sometimes the second.</p>

<p>Note also, that some of the reported errors are not reported as errors by the PHP interpreter, but
is rather bad practice. For example, PHPCheck will complain about unknown variables or class fields,
although PHP permits to use variables without defining them before and lets you also create class
fields dynamically.</p>

<p>Similarly, ill-formed or missing PHPDoc comments are detected. That means, the tool will complain if
you don't document parameters or return values or if you document non-existent parameters. This
serves also the purpose of improving the quality of PHPChecks analysis. Because without relying on
PHPDoc comments, it is not possible in many cases (at least, in "real" applications) to determine
the type of a variable at compile time.</p>

<h2>Limitations:</h2>

<p>Currently, most of the new language features (except anonymous functions) introduced since
PHP 5.2.0 are not yet supported.</p>
{endif}

{include "inc_footer.htm"}