<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>PHP-Check</title>
	<link rel="stylesheet" href="templates/style.css" type="text/css" />
	<script type="text/javascript" src="{gjs.get_file('js/basic.js','fws')}"></script>
	<script type="text/javascript" src="{gjs.get_file('js/ajax.js','fws')}"></script>
	
	<script type="text/javascript">
	<!--
	var myAjax = new FWS_Ajax();
	myAjax.setMimeType('text/plain; utf-8');
	myAjax.setEventHandler('onstart',function() {
		FWS_displayWaitBar('ajax_wait_bar');
	});
	myAjax.setEventHandler('onfinish',function() {
		FWS_hideElement('ajax_wait_bar');
	});
	//-->
	</script>
</head>
<body>

<div style="float: left;">
	<b>Position:</b> {location}
</div>
<div style="float: right;" class="pc_padbottom">
	<form method="post" action="{gurl.build_mod_url('home')}">
	<input type="hidden" name="aid" value="{chg_project_aid}" />
	Project: {form.get_combobox('project',projects,project)}
	<input type="submit" value="Go!" />
	</form>
</div>
<br style="clear: both;" />

<div class="pc_padbottom">
	<a class="pc_button" href="{gurl.build_mod_url('projects')}">Projects</a>
	<span style="float: right;">&nbsp;&middot;&nbsp;</span>
	{if project != 0}
	<a class="pc_button" href="{gurl.build_mod_url('errors')}">Errors</a>
	<a class="pc_button" href="{gurl.build_mod_url('vars')}">Variables</a>
	<a class="pc_button" href="{gurl.build_mod_url('calls')}">Calls</a>
	{endif}
	<a class="pc_button" href="{gurl.build_submod_url('types','consts')}">Constants</a>
	<a class="pc_button" href="{gurl.build_submod_url('types','funcs')}">Functions</a>
	<a class="pc_button" href="{gurl.build_submod_url('types','classes')}">Classes</a>
	<span style="float: right;">&nbsp;&middot;&nbsp;</span>
	{if project != 0}
	<a class="pc_button_big" href="{gurl.build_mod_url('stmtscan')}">Statement scanner</a>
	<a class="pc_button_big" href="{gurl.build_mod_url('typescan')}">Type scanner</a>
	{else}
	<a class="pc_button_big" href="{gurl.build_mod_url('phpref')}">PHPRef-scanner</a>
	{endif}
	<br style="clear: both;" />
</div>

{include "inc_messages.htm"}