<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>PHP-Check</title>
	<link rel="stylesheet" href="templates/style.css" type="text/css" />
</head>
<body>

<div style="float: left;">
	<b>Position:</b> {location}
</div>
<div style="float: right;" class="pc_padbottom">
	<form method="post" action="index.php">
	Project: {form.get_combobox('project',projects,project)}
	<input type="submit" value="Go!" />
	</form>
</div>
<br style="clear: both;" />

<div class="pc_padbottom">
	<a class="pc_button" href="index.php?module=errors">Errors</a>
	<a class="pc_button" href="index.php?module=vars">Variables</a>
	<a class="pc_button" href="index.php?module=calls">Calls</a>
	<a class="pc_button" href="index.php?module=types">Types</a>
	<span style="float: right;">&nbsp;&middot;&nbsp;</span>
	<a class="pc_button_big" href="index.php?module=analyze">Analyzer</a>
	<a class="pc_button_big" href="index.php?module=stmtscan">Statement scanner</a>
	<a class="pc_button_big" href="index.php?module=typescan">Type scanner</a>
	<br style="clear: both;" />
</div>