{include "inc_header.htm"}

<script type="text/javascript" src="{js.get_file('js/basic.js','fws')}"></script>
<script type="text/javascript" src="{js.get_file('js/table_sorter.js','fws')}">';
</script>

<a href="#funcs">Detected function-calls</a> &middot;
<a href="#vars">Detected variables</a> &middot;
<a href="#errors">Possible errors</a>
<br />

<h2><a name="funcs">Detected function-calls ({calls.length}):</a></h2>
<table class="pc_table" id="sql_debug" width="100%">
	<thead>
		<tr>
			<th onmouseover="this.style.cursor = 'pointer';"
				 onmouseout="this.style.cursor = 'default';"
				 onclick="sorter.sortTable(this.cellIndex);" title="Sort by column">Call</th>
			<th onmouseover="this.style.cursor = 'pointer';"
				 onmouseout="this.style.cursor = 'default';"
				 onclick="sorter.sortTable(this.cellIndex);" title="Sort by column">Location</th>
		</tr>
	</thead>
	<tbody>
	{loop calls as call}
		<tr>
			<td>{call:call}</td>
			<td>{call:file}, line {call:line}</td>
		</tr>
	{endloop}
	</tbody>
</table>

<h2><a name="vars">Detected variables ({vars.length}):</a></h2>
<table class="pc_table" width="100%">
	<tr>
		<th>Scope</th>
		<th>Name</th>
		<th>Type</th>
	</tr>
	{loop vars as var}
	<tr>
		<td>{var:scope}</td>
		<td>{var:name}</td>
		<td>{var:type}</td>
	</tr>
	{endloop}
</table>

<script type="text/javascript">
<!--
var sorter = new FWS_TableSorter("sql_debug");
//-->
</script>

{if errors.length > 0}
<h2><a name="errors">Possible errors found ({errors.length}):</a></h2>
<table class="pc_table">
	<tr>
		<th>ErrNo</th>
		<th>ErrMsg</th>
		<th>Location</th>
	</tr>
	{loop errors as error}
	<tr>
		<td>{error:type}</td>
		<td>{error:msg}</td>
		<td>{error:file}, {error:line}</td>
	</tr>
	{endloop}
</table>
{endif}

{include "inc_footer.htm"}