{include "inc_header.htm"}

{if module_error == false}
{include "inc_delete_message.htm"}
<script type="text/javascript" src="{gjs.get_file('js/table_row_sel.js','fws')}"></script>
<script type="text/javascript">
<!--
var rowHL = new FWS_TableRowSelector('row_','check_');
//-->
</script>

<form method="post" action="{gurl.build_mod_url()}">
<div class="pc_border">
	<h1 class="pc_topic">Projects</h1>
	<table width="100%" class="pc_table">
		<tr>
			<td class="pc_left">Name</td>
			<td class="pc_left" align="center">Content</td>
			<td class="pc_left" align="center">Created</td>
			<td class="pc_left" align="center">Clean</td>
			<td class="pc_left" align="center">Edit</td>
			<td align="center" class="pc_left">Delete</td>
		</tr>
		{if projects.length == 0}
		<tr>
			<td class="hlCol" align="center" colspan="6">No projects found</td>
		</tr>
		{endif}
		{loop projects as row => project}
		<tr id="row_{row}" class="hlRow">
			<td class="hlCol">{project:name}</td>
			<td class="hlCol" align="center">{project:classes} classes, {project:functions} functions, {project:errors} errors</td>
			<td class="hlCol" align="center">{project:created}</td>
			<td class="hlCol" align="center">
			<a href="{project:clean_url}">Clean</a>
			</td>
			<td class="hlCol" align="center">
			<a class="hlCol" href="{project:edit_url}">Edit</a>
			</td>
			<td class="hlCol" align="center" onclick="rowHL.toggleRowSelected({row});">
			<input id="check_{row}" type="checkbox" name="delete[]" value="{project:id}" />
			</td>
		</tr>
		{endloop}
	</table>
</div>
<center>
	<input type="submit" name="submit" value="Delete" />
</center>
</form>

<div class="pc_padtop">
	<b>Note:</b> &quot;Clean&quot; deletes all data (except the settings) of a project!
	<a class="pc_button_big" href="{add_project_url}">Add new project</a>
	<br style="clear: both;" />
</div>
{endif}

{include "inc_footer.htm"}