{include "inc_header.htm"}

<form method="post" action="index.php">
<table width="100%">
	<tr>
		<th colspan="2">Scan for types</th>
	</tr>
	<tr>
		<td>Folder:</td>
		<td><input type="text" name="folder" size="80" /></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" value="Start!" /></td>
	</tr>
</table>
</form>
<br />
<form method="post" action="index.php">
<table width="100%">
	<tr>
		<th colspan="2">Scan for actions</th>
	</tr>
	<tr>
		<td>Folder:</td>
		<td><input type="text" name="folder" size="80" /></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" value="Start!" /></td>
	</tr>
</table>
</form>

{include "inc_footer.htm"}