{include "inc_header.htm"}

{if module_error == false}
<table width="100%" class="pc_table">
	<tr>
		<th>Name</th>
		<th>File</th>
		<th>Line</th>
	</tr>
	{if classes.length == 0}
	<tr>
		<td colspan="3" class="pc_main" align="center">No classes found</td>
	</tr>
	{else}
	{loop classes as class}
	<tr>
		<td class="pc_main"><a href="{class:url}">{class:name}</a></td>
		<td class="pc_main">{class:file}</td>
		<td class="pc_main" align="center">{class:line}</td>
	</tr>
	{endloop}
	{endif}
</table>

<div class="pc_padtop">
	{include "inc_pagination.htm"}
</div>
{endif}

{include "inc_footer.htm"}