{include "inc_header.htm"}

{if module_error == false}
<table width="100%" class="pc_table">
	<tr>
		<th>Function</th>
		<th>File</th>
		<th>Line</th>
	</tr>
	{if funcs.length == 0}
	<tr>
		<td colspan="3" class="pc_main" align="center">No functions found</td>
	</tr>
	{else}
	{loop funcs as func}
	<tr>
		<td class="pc_main">{func:func}</td>
		<td class="pc_main">{func:file}</td>
		<td class="pc_main" align="center">{func:line}</td>
	</tr>
	{endloop}
	{endif}
</table>

<div class="pc_padtop">
	{include "inc_pagination.htm"}
</div>
{endif}

{include "inc_footer.htm"}