{include "inc_header.htm"}

{if module_error == false}
<script type="text/javascript" src="{gjs.get_file('src/functions.js')}"></script>

<div class="pc_padbottom">
	<form method="post" action="{search_target}">
	<div class="pc_border">
		<h1 class="pc_topic" onmouseover="this.style.cursor='pointer';"
				onmouseout="this.style.cursor='default';"
				onclick="toggleSearch('{cookie_name}','searchform');">Search</h1>
		<div id="searchform" style="display: {display_search};">
			<fieldset class="pc_form">
				<dl>
					<dt>File:</dt>
					<dd>{form.get_textbox('file',file,40)}</dd>
				</dl>
				<dl>
					<dt>Function:</dt>
					<dd>{form.get_textbox('func',func,40)}</dd>
				</dl>
			</fieldset>
			<div class="pc_main" style="margin-top: 1px; text-align: center">
				<input type="button" value="Reset" onclick="document.location.href = '{gurl.build_submod_url()}';" />
				<input type="submit" value="Search!" />
			</div>
		</div>
	</div>
	</form>
</div>

<table width="100%" class="pc_table">
	<tr>
		<th>Function</th>
		<th>Location</th>
		<th>Requirements</th>
	</tr>
	{if funcs.length == 0}
	<tr>
		<td colspan="3" class="pc_main" align="center">No functions found</td>
	</tr>
	{else}
	{loop funcs as f}
	<tr>
		<td class="pc_main" width="60%">
		{if f:line}
		<a href="{f:url}"><img src="images/goto.gif" alt="-&gt;" /></a>
		{endif}
		{f:func}
		{if f:line}
		<div style="float: right;">
			<a href="#" onclick="javascript:toggleCode('{get_code_url}','func','{f:id}');">
			<img id="func_img_{f:id}" src="images/crossclosed.gif" alt="+" />
			</a>
		</div>
		<div id="func_area_{f:id}" class="pc_code" style="display: none;"></div>
		{endif}
		</td>
		<td class="pc_main">
		{if f:file && f:line}
		{f:file}, line {f:line}
		{else}
		{if f:file}
		<a href="{f:file}">{f:file}</a>
		{else}
		<i>Unknown</i>
		{endif}
		{endif}
		</td>
		<td class="pc_main" align="center">
		{if f:since}&gt;= {f:since}{endif}
		{if f:till}
		{if f:since} and {endif}
		&lt; {f:till}
		{endif}
		</td>
	</tr>
	{endloop}
	{endif}
</table>

<div class="pc_padtop">
	{include "inc_pagination.htm"}
</div>
{endif}

{include "inc_footer.htm"}