{include "inc_header.htm"}

{if module_error == false}
<table width="100%" class="pc_table">
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>File</th>
		<th>Line</th>
	</tr>
	{if consts.length == 0}
	<tr>
		<td colspan="4" class="pc_main" align="center">No constants found</td>
	</tr>
	{else}
	{loop consts as const}
	<tr>
		<td class="pc_main">{const:name}</td>
		<td class="pc_main">{const:type}</td>
		<td class="pc_main">{const:file}</td>
		<td class="pc_main" align="center">{const:line}</td>
	</tr>
	{endloop}
	{endif}
</table>

<div class="pc_padtop">
	{include "inc_pagination.htm"}
</div>
{endif}

{include "inc_footer.htm"}