{include "inc_header.htm"}

{if module_error == false}
<script type="text/javascript" src="{gjs.get_file('src/functions.js')}"></script>

<div class="pc_padbottom">
	<form method="post" action="{search_target}">
	<div class="pc_border">
		<h1 class="pc_topic" onmouseover="this.style.cursor='pointer';"
				onmouseout="this.style.cursor='default';"
				onclick="toggleSearch('{cookie_name}','searchform');">Search</h1>
		<div id="searchform" style="display: {display_search};">
			<fieldset class="pc_form">
				<dl>
					<dt>Scope:</dt>
					<dd>{form.get_textbox('scope',scope,40)}</dd>
				</dl>
				<dl>
					<dt>Variable name:</dt>
					<dd>{form.get_textbox('name',name,40)}</dd>
				</dl>
			</fieldset>
			<div class="pc_main" style="margin-top: 1px; text-align: center">
				<input type="button" value="Reset" onclick="document.location.href = '{gurl.build_mod_url()}';" />
				<input type="submit" value="Search!" />
			</div>
		</div>
	</div>
	</form>
</div>

<table width="100%" class="pc_table">
	<tr>
		<th>Variable</th>
		<th>Scope</th>
		<th>Location</th>
	</tr>
	{if vars.length == 0}
	<tr>
		<td colspan="3" class="hlCol" align="center">No variables found</td>
	</tr>
	{else}
	{loop vars as var}
	<tr class="hlRow">
		<td width="40%" class="hlCol">
		<a href="{var:url}"><img src="images/goto.gif" alt="-&gt;" /></a> {var:name} : {var:type}
		<div style="float: right;">
			<a href="#" onclick="javascript:toggleCode('{get_code_url}','var','{var:id}');">
			<img id="var_img_{var:id}" src="images/crossclosed.gif" alt="+" />
			</a>
		</div>
		<div id="var_area_{var:id}" class="pc_code" style="display: none;"></div>
		</td>
		<td class="hlCol">{var:scope}</td>
		<td class="hlCol">{var:file}, line {var:line}</td>
	</tr>
	{endloop}
	{endif}
</table>

<div class="pc_padtop">
	{include "inc_pagination.htm"}
</div>
{endif}

{include "inc_footer.htm"}