{include "inc_header.htm"}

{if module_error == false}
<table width="100%" class="pc_table">
	<tr>
		<th>Scope</th>
		<th>Name</th>
		<th>Type</th>
	</tr>
	{if vars.length == 0}
	<tr>
		<td colspan="3" class="pc_main" align="center">No variables found</td>
	</tr>
	{else}
	{loop vars as var}
	<tr>
		<td class="pc_main">{var:scope}</td>
		<td class="pc_main">{var:name}</td>
		<td class="pc_main">{var:type}</td>
	</tr>
	{endloop}
	{endif}
</table>

<div class="pc_padtop">
	{include "inc_pagination.htm"}
</div>
{endif}

{include "inc_footer.htm"}